//output: script.html
script(type="text/javascript", src="/client/jquery/dist/jquery.js")
script(type="text/javascript", src="/client/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/client/toastr/toastr.js")
script(type="text/javascript", src="/client/angular/angular.js")
script(type="text/javascript", src="/client/angular-resource/angular-resource.js")
script(type="text/javascript", src="/client/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")
script(type="text/javascript", src="/app/account/myNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")
script(type="text/javascript", src="/app/admin/mvUserListCtrl.js")
